:root {
  --picker-width: 800px;
  --picker-height: calc(var(--picker-width) * 0.66);
  --head-height: calc(var(--picker-height) * 0.12);
  --head-padding: calc(var(--picker-height) * 0.03);
  --color-font-size: calc(var(--head-height) * 0.6);
  --body-padding: var(--head-padding);
  --strip-width: calc(var(--picker-height) / 8);
  --hex-color: "#ff0000";
  --hex8-color: "#ff0000ff";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI;
}

body {
  height: 100vh;
  background-color: #151515;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.color-picker {
  width: var(--picker-width);
  height: var(--picker-height);
  background-color: #252525;
  border: 2px solid #575757;
  display: flex;
  flex-direction: column;
  user-select: none;
}

/* head */
.picker-head {
  height: var(--head-height);
  background: url(./opacity-background.png) var(--hex8-color);
  background-size: 16px 16px;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  gap: 24%;
  padding-left: var(--head-padding);
  color: #fff;
  font-size: var(--color-font-size);
}

.brightness-icon {
  width: calc(var(--head-height) / 2);
  height: calc(var(--head-height) / 2);
  border: 2px solid #000;
  border-radius: 50%;
  background: linear-gradient(to right, #000 0%, #000 50%, #fff 50%, #fff 100%);
}

.color-string {
  cursor: pointer;
}

/* body */

.picker-body {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  padding: var(--body-padding);
}

.saturation-box {
  flex-grow: 1;
  position: relative;
}

.saturation-canvas {
  width: 100%;
  height: 100%;
  background-color: skyblue;
}

.saturation-picker {
  width: 20px;
  height: 20px;
  top: 0;
  left: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.strips {
  display: flex;
  gap: 16px;
}

.strip {
  width: var(--strip-width);
  cursor: grab;
  position: relative;
}

.strip.alpha {
  background: url(./opacity-background.png);
  background-size: 16px 16px;
  image-rendering: pixelated;
}

.strip.alpha::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, var(--hex-color) 0%, transparent 100%);
}

.strip.hue {
  background: linear-gradient(
    to bottom,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
}

.strip .slider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -3px;
  width: calc(100% + 6px);
  height: 6px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* .test {
  color: #ff0000;
} */
